body {
    background-color: #02101b;
}

/* Style Header */
.header {
    position: fixed;
    top: 25px;
    left: 5px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 75;
    /* Overlapping weight */
}

.navigate a {
    color: antiquewhite;
    font-size: 25px;
    margin-inline: 35px;
    text-decoration: none;
    /* Remove Underlines under Header <a> tags */
    font-weight: 400;

}

.navigate a:hover {
    color: aqua;
}

/* Home Text Styling */
.text {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    float: inline-start;
    color: antiquewhite;
}

.homeText {
    margin-top: -20%;
    margin-left: 200px;

}

.homeText h1 {
    font-size: 75px;
    margin-bottom: 20px;
}

.homeText h2 {
    font-size: 40px;
}

/* Styling Home Image Portrait */
.homeImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.homeImage img {
    height: auto;
    max-width: 850px;
    border-radius: 45%;
    float: center;
    position: absolute;
    right: 150px;
    top: 40%;
    transform: translateY(-45%);
    background-color: transparent;
    filter: brightness(0.9) contrast(1.15);
    clip-path: inset(0px 0px 170px 0px);
}