body {
    background-color: #02101b;
}

/* Style Header */
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 115px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 75;
    /* Overlapping weight */
}

.navigate a {
    color: antiquewhite;
    font-size: 25px;
    margin-inline: 35px;
    text-decoration: none;
    /* Remove Underlines under Header <a> tags */
    font-weight: 400;

}

.navigate a:hover {
    color: aqua;
}

/* Home Text Styling */
.text {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    float: inline-start;
    color: antiquewhite;
}

.homeText {
    margin-top: -8%;
    margin-left: 225px;

}

.homeText h1 {
    font-size: 75px;
    margin-bottom: 20px;
}

.homeText h2 {
    font-size: 40px;
}

/* Styling Home Image Portrait */
.homeImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    /* to make the IMG responsive to window size */
    height: auto;
    padding: 20px;
}

.homeImage img {
    height: auto;
    max-width: 90%;
    /* avoid overflow */
    border-radius: 45%;
    background-color: transparent;
    filter: brightness(0.9) contrast(1.15);
    clip-path: inset(0px 0px 170px 0px);
    object-fit: cover;
    /* float: center;
    position: absolute;
    right: 150px;
    top: 40%;
    transform: translateY(-45%); */
}

/* About Me Page Styling */

/* This is to reset the margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutMeText {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: antiquewhite;
    padding-top: 75px;
    margin-top: 25px;
}

.myImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 750px;
    margin: auto;
    padding-top: 0px;
    margin-top: -825px;
}

.myImages div {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.myImages img {
    width: 30vw;
    height: 35vh;
    max-width: 500px;
    display: block;
    object-fit: cover;
    /* To avoid distortion */
}

/* ATL img */
/*.atlShadow img {
    width: 80%;
    height: auto;
    max-width: 400px;
    /* ensures image says proportionate while the width threshold is declared */
/* display: block;
    margin: auto;
}

/* Power img */
/* .power img {
    width: 80%;
    height: auto;
    max-width: 400px;
    /* ensures image says proportionate while the width threshold is declared */
/* display: block;
    margin: auto;
}

/* Family img */
/*.family img {
    width: 80%;
    height: auto;
    max-width: 400px;
    /* ensures image says proportionate while the width threshold is declared */
/*display: block;
    margin: auto;
}

/* Childhood img */
/*.childhood img {
    width: 80%;
    height: auto;
    max-width: 400px;
    /* ensures image says proportionate while the width threshold is declared */
/* display: block;
    margin: auto;
}

/* declare the images as a flexbox cointainer */
/*.myImages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    /* to make the images wrap within the set webpage size*/
/* gap: 15px;
    /* Space between images */


/* html body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    **Not needed /* MDN says this prevents overflow if the img is too big */

/* .myImages div {
    flex: 1 1 auto;
    /* Declaring the image area per img div *
    display: flex;
    justify-content: center;
    align-items: center;  NOT NEEDED */


/*.myImages div img {
    width: 10%;
    max-width: 400px;
    /*image size threshold for width */
/*height: auto;
    /* This is to keep the image ratio */
/*object-fit: cover;
    /*This makes sure that the images don't stretch and crop properly*/


/*body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    box-sizing: border-box;
}